<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/_navbar.ejs') %>
  <title>Dream Details</title>
</head>
<body>
  <div class="container">
    <h1>Dream: <%= dream.activity %></h1>

    <p><strong>Category:</strong> <%= dream.category %></p>
    <p><strong>Status:</strong> <%= dream.status %></p>
    <p><strong>Notes:</strong> <%= dream.notes %></p>
    <% if (dream.photo) { %>
      <img src="<%= dream.photo %>" alt="Dream photo" style="width: 200px;">
    <% } %>

    <a href="/users/<%= user._id %>/dreams/<%= dream._id %>/edit">Edit Dream</a>
      <form
      action="/users/<%= user._id %>/dreams/<%= dream._id %>?_method=DELETE"
      method="POST"
      >
        <button type="submit">Delete Dream</button>
      </form>
    <a href="/users/<%= user._id %>/dreams/">Back to Dreams</a>
  </div>
</body>
</html>
